* {
    box-sizing: border-box;
    padding: 20;
    margin: 0;
    margin-left: 10px;
}

body {
    background-color: gray;
}

header {
    width: 80%;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: blue;
    color: #ffffff;
    margin-left: 10px;
}

.contact a {
    color: darkorange;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header .pic {
    width: 50%;
    border-radius: 50%;
}

.links {
    color: whitesmoke;
}

.links a {
    color: goldenrod;
}

.about-me {
    height: 100%;
    width: 80%;
    background-color: wheat;
    color: blue;
    margin-top: 20px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.experience {
    margin-top: 20px;
    width: 80%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blueviolet;
    margin-bottom: 32px;
    color: #ffffff;
}

.experience h2 {
    margin-bottom: 10px;
    text-align: center;
}

.projects {
    margin-bottom: 20px;
    padding: 50px;
    width: 80%;
    height: fit-content;
    background-color: #0072bb;
    color: #ffffff;
}

li {
    color: gold;
}

.projects h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.resume {
    width: 120%;
    margin-bottom: 20px;
}

.weather {
    width: 80%;
    margin-bottom: 20px;
}

.music {
    width: 80%;
    margin-bottom: 20px;
}

.password {
    width: 80%;
    margin-bottom: 20px;
}

.Contact {
    padding: 30px;
    clear: both;
    color: yellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

a:hover {
    background-color: goldenrod;
}